@import "tailwindcss";

* {
  box-sizing: border-box;
}
:root {
  --azul-800: #7dd3fc;
  --celeste-A100: #91e5f6;
  --amarillo-700: #ffc700;
  --azul-900: #201e50;
  --fucsia-A200: #e75a7c;
  --gray-300: #d1d5db;
  --green: #10b981;
}
